*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    padding: 10px;
    align-items: center;
}
.menus{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 17px;
}
.banner-container{
    background-image: url("../images/background.jpg"),
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    

}
.primary{
    color: crimson;
}
.banner-title{
    font-size: 55px;
    font-weight: bold;
    color: aliceblue;
    /* padding-left: 500px; */
    margin: auto;
    width: 50%;
    
}
.banner-desc{
    padding: 10px;
    width: 50%;
    margin: auto;
    color: aliceblue;
}
.btn{
    
    border: none;
    /* width: 50%;
    margin: auto; */
    padding: 12px 20px;
    
}
.bg-primary{
    background-color: crimson;
    color: aliceblue;
}
.banner-button{
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    gap: 10px;
}
.service-container{
    background-image: url("../images/footer-bg.png"),
    linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding: 20px;

}
.icon{
    width: 70px;
    margin-bottom: 20px;
}
.box{
    text-align: center;
    width: 150px;
    height: 100px;
    padding: 50px;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    box-shadow: 4px 4px 8px gray;
}
.service-desc{
    width: 50%;
}
.first-two-box{
    display: flex;
    gap: 3px;
    margin-top: 5px;
}
.author-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.author-img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.profile-container{
    display: flex;
    align-items: center;
    border-right: 2px solid red;
}
.appointment-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: red;
    border-radius: 10px;
    margin-top: -30px;
}
.phone-call{
    display: flex;
    align-items: center;
    gap: 5px;
}
.blog-title{
    color: black;
    text-align: center;
    margin:50px;
    padding-top: 40px;
}
.blog-container{
    width: 80%;
    margin: auto;
    background-color: grey;
    height: 100%;
}


.card{
    width:220px;
    height: 300px;
    box-shadow: 4px 8px 4px gray;
    border-radius: 5px;
}
.card-title{
    margin-top: 10px;
    margin-bottom: 10px;
}



.blog-img{
    width: 100%;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}